__pycache__
app.egg-info
.cache/
/build/
/dist/
*.py[cd]
.mypy_cache
.coverage
htmlcov
.cache
.venv
.pytest_cache
.env
celerybeat-schedule.db.db
report.xml
coverage.xml

.cursor/*
examples/
logs/*
*.log
spaces/
plugin_storage/
storages/

celery*.bak
celery*.dat
celery*.dir